@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* Nav Style */

.nav-container {
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  background: #f8ecc2;
  border-bottom: 1px solid #000000;
  font-family: "Dela Gothic One", cursive;
  align-content: stretch;
  justify-content: space-around;
  transition: 0.9s ease-in;
  position: fixed;
  z-index: 10;
  transition: all 5s ease-in;
  top: 0;
}
.Logo {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.Logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fd1100f5;
  font-size: 35px;
  font-family: "Rampart One", cursive;
  letter-spacing: -3px;
}
.nav-link {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.9s ease-in;
}
.nav-link li {
  display: flex;
  padding: 20px 4%;
}
.nav-link li a {
  text-decoration: none;
  color: #000000;
  font-family: "Dela Gothic One", cursive;
  font-size: 16px;
}
.burger {
  display: none;
  padding-top: 20px;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
}

@media only screen and (max-width: 800px) {
  .nav-container {
    flex-direction: column;
    width: 100%;
    transition: all 0.9s ease-in;
    position: fixed;
    z-index: 1;
    position: fixed;
  }
  .Logo {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 21.5%;
    transition: 0.9s ease-in;
    margin: 10px 0px;
  }
  .Logo a {
    width: 70%;
  }
  .burger {
    display: block;
    padding-top: 3px;
    margin-left: 20%;
    cursor: pointer;
  }
  .nav-link {
    width: 100%;
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
    transition: 0.9s ease-in;
  }
  .nav-link ul {
    width: 100%;
  }
  .nav-link.active {
    display: flex;
    transition: 0.9s ease-in;
  }
}

/* Home Style */

section {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 130vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/Dosalpic.jpg");
  transition: 0.5s;
  overflow: hidden;
}
.home-page {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 55px;
  color: #ffffff;
  transition: 0.5s ease-in-out;
}
h2 {
  font-size: 3vh;
}
h5,
h6 {
  font-size: 4.8vh;
}
h6 {
  font-size: 4.8vh;
}
h3 {
  font-size: 3vh;
}

@media only screen and (max-width: 1050px) {
  .home-page {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    transition: 0.8s ease-out;
  }

  h2 {
    font-size: 2.5vh;
  }
  h5 {
    font-size: 4vh;
  }
  h6 {
    font-size: 4vh;
  }
  h3 {
    font-size: 2.5vh;
  }
}

@media only screen and (max-width: 700px) {
  .home-page {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    transition: 0.8s ease-out;
  }
  h2 {
    font-size: 2.5vh;
  }
  h5 {
    font-size: 3.5vh;
  }
  h6 {
    font-size: 3.5vh;
  }
  h3 {
    font-size: 2.5vh;
  }
}

@media only screen and (max-width: 600px) {
  .Logo a {
    display: flex;
    font-size: 35px;
    justify-content: center;
    align-items: center;
  }
  .home-page {
    justify-content: center;
    line-height: 40px;
    transition: 0.8s ease-out;
  }
  h2 {
    font-size: 2.5vh;
  }
  h5 {
    font-size: 3.5vh;
  }
  h6 {
    font-size: 2vh;
  }
  h3 {
    font-size: 2vh;
  }
}
@media only screen and (max-width: 414px){
  h5{
    font-size: 19px;
  }
}
.click-me {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: flex-start;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.click-me .a__ {
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #fff;
  background-color: #fd1100f5;
  box-shadow: 0 0 10px #ff7369f5, 0 0 40px #f07f77f5, 0 0 80px #d4837df5;
  transition: 0.3s;
  padding: 4px;
  position: absolute;
  border-radius: 15px;
}
.a__:hover {
  border-radius: 15px;
  box-shadow: 0 0 0 0;
  transition: 1s;
}



